div {
    max-width: 30rem;
    margin: 0 auto;
    padding: 10px;
    border-radius: 0.375rem;    
    background-color: #2c3e50;    
  } 
  
  form {
    display: flex;
    flex-direction: column;
  }

  .Logo {
    text-align: center; /* Centra el contenido dentro de la clase Logo */
  }
  
  .Logo img {
    max-width: 150px; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción original de la imagen */
    display: block; /* Asegura que la imagen sea un bloque para aplicar márgenes automáticamente */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }

  label {
    font-size: 18px;
  } 
  
  input {
    margin-bottom: 10px;
    padding: 4px 4px;;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }

  .password-input-container {
    position: relative;
  }
  
  .password-input-container input {
    padding-right: 30px; /* Ajusta el espacio a la derecha del input para acomodar el ícono */
  }
  
  .eye-icon {
    position: absolute;
    top: 50%;
    right: 20px; /* Ajusta la distancia desde la derecha del contenedor */
    transform: translateY(-72%);
    cursor: pointer;
  }
  
  .BotonesRegistro {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 10px; /* Añade un espacio de 10px entre los botones */
  }
  
  .BotonesRegistro button {
    padding: 6px 12px;
    background-color: #6515dd;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .BotonesRegistro button:hover {
    background-color: #0056b3;
  }